header
{
	font-size: 0.8em;
	font-family: Arial;
}

footer
{
	position: absolute;
	font-family: Arial;
	bottom: 0px;
	font-size: 0.8em;
}

ul
{
	width: 100;
	list-style-type: none;
	overflow: hidden;
}

li
{
	margin: 0 1em 0 0;
	float: left;
}

li.topNav 
{
	margin: 0 1em 0 0;
	float: right;
}

#gridpic
{
	background-position: -136px -44px; 
	width: 23px;
	height: 18px;
	margin: 0 1em 0 0;
	float: right;
}
#mainDiv
{
	text-align: center;
	
}

input
{
	height: 25px;
	width: 350px;
}

p{
	display: inline;
	margin: 21px;
}

p.Search
{
	border-color: 1px gray;
	background: white;
}

p.Language
{
	margin: 25px;
}
